

/*------FOOTER movil---------*/

footer{
	font-family: 'Raleway', sans-serif;
	border-top: 2px solid #AC9251 ;

	font-size: 14pt;
	
	height: 250px;
	width: 100%;

}

.logo_footer{
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo_footer img{
	margin-top: 20px;
	height: 50px;

}

footer p {
	margin-left: 40px;
}

.redes_sociales{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1em;
	
	
}

.aviso_legal{
	text-align: center;
	font-size: 10pt;

	
	
	width: 100%;
	
	
	


}


	.aviso_legal a{
		color:#955251;

		}

.redes_sociales img{
	width: 44px;
	margin: 10px;
}
.direccion{
	display: none;
}

/*----------------------------- TABLET--------------------------------*/

@media screen and (min-width: 768px){

.texto{
	
	font-size: 16pt;
	
}



/*------FOOTER TABLET---------*/



footer a img{

	height: 35px;
	display: flex;
	justify-content: flex-start;
}

footer p {
	margin: 10px;

}
.redes_sociales{
	display: flex;
	justify-content: flex-end;



}

.aviso_legal{
	
	width: 50%;
	margin-top:-80px;
	margin-left: 15px;
	font-size: 12pt;


}

.aviso_legal a {
	display:flex;
	justify-content: flex-start;
	margin: 10px;

}

.logo_footer{
	display: flex;
	justify-content: flex-start;
	
}
.logo_footer img{

	margin-top: 10px;
	
	height: 40px;
}



}


/*----------------------------- DESKTOP--------------------------------*/

@media screen and (min-width: 960px){

.texto{
	
	font-size: 18pt;

	
}

/*------FOOTER DESCKTOP---------*/

footer{
	
	height: 250px;
}

.logo_footer img{

	height: 100px;
}

footer img{



	display: flex;
	justify-content: flex-start;
	margin-left: 20px;
}

.direccion{

	display: block;
	margin-top: 3rem;



}
.aviso_legal{

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 31%;
	margin-top: 0;
	font-size: 14pt;

	


}

.texto_footer{

	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin-top: 0.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

}
.redes_sociales{
	margin-top: 3rem;


}

}